body {
  font-family: "Poppins";
  height: 100vh;
  color: #4b72a6;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: auto;
  padding: 1rem;
  border: 1px solid #572ee5;
  margin: 10px;
}

img {
  width: 200px;
  height: 200px;
}
